.postTitle {
    float: left;
    margin: 0 0 20px 0;
    font-weight: bold;
}
.postCreatedAt {
    float: right;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-style: italic;
}
.postContent {
    clear: both;
}

